body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    background-color: #10B5DF;
    color:black;
    height:100px;
    max-width: 100%;
}

.header-logo {
    text-align: center;
    font-size: 56px;
    
}

.header-sec {
    text-align:center;

}

.pic {
    max-width: 100%;
    height: auto;
}

.main {
    background-color: black;
    text-align: center;
    display: block;
}



.footer {
    background-color: #10B5DF;
    color: white;
    max-width: 100%;
    height:80px;
    padding:40px;
}

.footer-logo {
    text-align: center;

}

.dev {
    float:right;
}

.rights {
    float:left;
}

a {
    color: white;
}

@media all and (max-width:670px) {
    .header {
        width: 100%;
    }
    
    .main {
        max-width: 100%;
    }

    .footer{
        max-width: 100%;
    }
    .footer-logo {
        text-align: center;
        padding:2px
    }
    .dev {
        text-align: center;
        padding: 1px;
    }
    .rights{
        padding:1px;
        color: black;
        text-align: center;
        max-width: 100%;
    }
}
